<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animals</title>
    <%- include("../imports.ejs") %>
</head>
<body>
    <h1>The Animal App</h1>

    <a href="/animal/new"><button>Create New Animal</button></a>
    
    <ul>
        <% allAnimals.forEach((animal, index)=>{%>
            <a href="/animal/<%= animal._id%>"><h3>Name: <%= animal.species%></h3></a>
              <% })%>
    </ul>
    
</body>
</html>